.general-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.category{
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px #ff73379e;
    color: #FF7337;
}

.container-carousel{
    display: flex;
    flex-direction: column;    
}

.title-subcategory{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    background-color: #FF7337;
    text-shadow: 0px 0px 3px #fffffff2;
    font-weight: 900;
    padding: 10px 0px;
}

.carousel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-product{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff7337ba;
    padding: 15px;
    margin: 15px 10px 5px 10px;
    transform: scale(0.6);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
}

.card-product.slick-center{
    transform: scale(1);
}

.card-product .img-product{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-product .content-product{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 200px;
    height: 230px;
}

.name-product{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    width: 80%;
    text-align: center;
}

.card-product .content-product a{
    width: 80%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    background-color: #FF7337;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

}

.card-product .content-product a:hover{
    transform: scale(1.05);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    box-shadow: 0px 0px 15px #FF7337;
}

.img-product img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

.arrows{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #FF7337;
    font-size: 3em;
}


/*arrows kitchen*/
.prev-arrow-kitchen{
    margin-right: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;    
}

.prev-arrow-kitchen:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.next-arrow-kitchen{
    margin-left: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;
}

.next-arrow-kitchen:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}


/*arrows room*/
.prev-arrow-room{
    margin-right: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;    
}

.prev-arrow-room:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.next-arrow-room{
    margin-left: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;
}

.next-arrow-room:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}


/*arrows bedroom*/
.prev-arrow-bedroom{
    margin-right: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;    
}

.prev-arrow-bedroom:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.next-arrow-bedroom{
    margin-left: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;
}

.next-arrow-bedroom:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

/*arrows bathroom*/
.prev-arrow-bathroom{
    margin-right: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;    
}

.prev-arrow-bathroom:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.next-arrow-bathroom{
    margin-left: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;
}

.next-arrow-bathroom:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}



/*Responsividade*/

@media only screen and (max-width: 1281px) {

    .card-product{
        padding: 0px 15px;
    }

    .card-product .content-product a{
        padding: 15px;
        width: 100%;
    }

    .name-product{
        width: 100%;
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 1025px){

    .card-product .content-product a{
        padding: 15px;
        width: 80%;
    }

    .name-product{
        width: 80%;
    }

}

@media only screen and (max-width: 913px){
    .card-product .content-product a{

        width: 100%;

    }
}

@media only screen and (max-width: 769px){
    .name-product{
        width: 100%;
    }

    .card-product .content-product a{
        font-size: 12px;
    }

    .img-product img{
        width: 180px;
    }
}

@media only screen and (max-width: 600px){
    .category{
        font-size: 1.5em;
    }

    .card-product{
        width: 200px;
    }

    .name-product{
        width: 100%;
        font-size: 16px;
    }

    .card-product .content-product a{
        width: 100%;
        font-size: 12px;
    }
}

