.general-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container-carousel{
    margin: 20px 0px;
    border-radius: 10px;
    border-top: solid 1px #FF7337;
    border-bottom: solid 1px #FF7337;
}

.title-carousel h1{
    color: #FF7337;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    margin: 15px 60px;
    display: flex;
    flex-direction: column;
}

.title-carousel h1 a{
    text-decoration: underline #d44001d5 2px;
}

.title-carousel h1 a small{
    font-size: 20px;
    color: #d44001d5;
}

.title-carousel h1 a small:hover{
    color: #ff73376e;
    text-decoration: underline;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
}

.card-product{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff7337ba;
    padding: 15px;
    margin: 15px 10px 5px 10px;
    transform: scale(0.6);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
}

.card-product.slick-center{
    transform: scale(1);
}

.card-product .img-product{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-product .content-product{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-product{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
    width: 70%;
    text-align: center;
}

.card-product .content-product a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    background-color: #FF7337;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

}

.card-product .content-product a:hover{
    transform: scale(1.05);
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    box-shadow: 0px 0px 15px #FF7337;
}

.img-product img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7337;
    font-size: 3em;
}

/*setas do slide decoration*/

.prev-arrow-decoration{
    margin-right: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;    
}

.prev-arrow-decoration:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.next-arrow-decoration{
    margin-left: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;
}

.next-arrow-decoration:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

/*setas do slide stationarystore*/

.prev-arrow-stationarystore{
    margin-right: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;
}

.prev-arrow-stationarystore:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.next-arrow-stationarystore{
    margin-left: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;

}

.next-arrow-stationarystore:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

/*setas do slide tech*/

.prev-arrow-tech{
    margin-right: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;
}

.prev-arrow-tech:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

.next-arrow-tech{
    margin-left: 20px;
    outline: 0 0 0 0;
    margin-bottom: 10px;

}

.next-arrow-tech:hover{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}

@media only screen and (max-width: 1280px){
    .title-carousel h1{
        font-size: 1.8em;
    }
    
    .card-product .content-product a{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 10px 0px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 800;
    }  

    .img-product img{
        width: 200px;
        margin: -5px -5px 10px -5px;
    }

    .name-product{
        font-size: 18px;
        width: 100%;
    }
}

@media only screen and (width: 1024px){
    .img-product img{
        width: 250px;
    }

    .name-product{
        font-size: 20px;
    }

    .card-product .content-product a{
        width: 90%;
    }
}

@media only screen and (width: 912px){
    .card-product .content-product a{
        width: 90%;
    }
}

@media only screen and (width: 768px){
    .title-carousel h1{
        font-size: 1.6em;
    }
    
    .img-product img{
        padding: 5px;
    }

    .name-product{
        font-size: 18px;
    }

    .card-product .content-product a{
        width: 100%;
        margin: 5px;
        padding: 15px 0px;
        font-size: 13px;
        letter-spacing: none;
    }
}

@media only screen and (width: 820px){
    .title-carousel h1{
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 550px){
    .container-carousel{
        border-top: solid 1px #FF7337;
        border-bottom: solid 1px #FF7337;
    }

    .card-product{
        margin: 10px 10px;
    }

    .title-carousel h1{
        font-size: 20px;
        text-align: center;
        margin: 10px 30px;
        display: flex;
        flex-direction: column;
    }

    .title-carousel h1 a{
        text-decoration: underline #ff7337a4;
        color: #ff9668aa;
    }

    .title-carousel h1 a small{
        font-size: 14px;
    }

    .img-product img{
        width: 250px;
    }

    .name-product{
        font-size: 18px;
        width: 80%;
    }

    .card-product .content-product a{
        width: 200px;
    }
}

@media only screen and (width: 280px){
    .title-carousel h1{
        font-size: 20px;
        text-align: center;
        margin: 15px 15px 0px 15px;
        text-shadow: 0px 3px 5px #ff73375a;
    }

    .slick-track{
        height: 100%;
        margin: 20px 0px 0px 10px;
    }

}